<app-banner></app-banner>
<!-- <div>
  <h2>{{ "HOME.TITLE" | translate }}</h2>
</div> -->

<div class="body background">
  <div class="module-infront-left">
    <div class="module-infront-left-inside">
      <app-about></app-about>
    </div>
  </div>

  <div class="module-infront">
    <div class="container">
      <div class="module-infront-inside">
        <app-features></app-features>
      </div>
    </div>
  </div>

  <div class="module-infront">
    <div class="container">
      <div class="module-infront-inside">
        <app-news></app-news>
      </div>
    </div>
  </div>

  <div class="module-infront">
    <div class="container">
      <div class="module-infront-inside">
        <app-timeline></app-timeline>
      </div>
    </div>
  </div>
</div>
