$primary: #fc980d;
$secondary: #0f2147;

.body {
  align-content: center;
  justify-content: center;
}
.background {
  position: relative;
}
.background::before {
  content: "";
  position: absolute;
  // top: 0; left: 0;
  width: 100%;
  height: 100%;
  // background-image: url("../../../../../assets/images/background/background3.png");
  background-color: lightblue;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // filter: blur(25px) saturate(100%) brightness(100%);
  overflow: hidden;
  transform: scale(1.05);
  // transform: scaleY(1.1);
  // transform: rotate(180);
}
.background-inside {
  position: relative;
  // padding: 10%;
  // text-align: center;
  // font: bold 48px sans-serif;
}

.module-infront {
  display: grid;
  place-items: center;
  color: black;
  position: relative;
}
.module-infront::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
.module-infront-inside {
  position: relative;
  padding: 10%;
  text-align: center;
  font: 20px sans-serif;
}

.module-infront-left {
  display: grid;
  place-items: start;
  position: relative;
}
.module-infront-left::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
.module-infront-left-inside {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  position: relative;
  text-align: center;
  font: bold 38px sans-serif;
}

.module-infront-right {
  display: grid;
  place-items: end;
  position: relative;
}
.module-infront-right::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
.module-infront-right-inside {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  position: relative;
  text-align: center;
  font: bold 38px sans-serif;
}

.module-4 {
  display: grid;
  place-items: center;
  color: black;
  position: relative;
}
.module-4::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
.module-4-inside {
  position: relative;
  padding: 1%;
  text-align: center;
  font: bold 38px sans-serif;
}

.module-5 {
  display: grid;
  place-items: center;
  color: black;
  position: relative;
}
.module-5::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
.module-5-inside {
  position: relative;
  padding: 1%;
  text-align: center;
  font: bold 38px sans-serif;
}

.module-6 {
  display: grid;
  place-items: center;
  color: black;
  position: relative;
}
.module-6::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
.module-6-inside {
  position: relative;
  padding: 10%;
  text-align: center;
  font: 20px sans-serif;
}
