<app-banner></app-banner>
<!-- <div>
  <h2>{{ "HOME.TITLE" | translate }}</h2>
</div> -->

<div class="body background">
  <div class="module-1">
    <div class="module-1-inside">
    <app-intro></app-intro>
    </div>
  </div>


  <div class="module-2">
    <div class="module-2-inside">
    <app-come></app-come>
    </div>
  </div>

  <div class="module-3">
    <div class="module-3-inside">
    <app-how></app-how>
    </div>
  </div>

  <div class="module-4">
    <div class="module-4-inside">
    <app-step></app-step>
    </div>
  </div>

  <div class="module-5">
    <div class="module-5-inside">
      <app-our></app-our>
    </div>
  </div>

  <div class="module-6">
    <div class="container">
    <div class="module-6-inside">
    <app-timeline></app-timeline>
    </div>
    </div>
  </div>
</div>
