<app-banner></app-banner>
<!-- <div>
  <h2>{{ "HOME.TITLE" | translate }}</h2>
</div> -->

<div class="body">
  <div class="module-1">
    <div class="container">
      <div class="row">
        <div class="module-1-inside col-md-12 mt-md-0 mt-3">
          by counting and analyzing the demographics of customers entering your
          stores
        </div>
      </div>
    </div>
  </div>
  <div class="module-2">
    <div class="row">
      <div class="module-2-inside col-md-12 mt-md-0 mt-3">
        Come and see our technology at RETAILTECH LAB in Lyngby Storcenter!
        <button>Read More</button>
      </div>
    </div>
  </div>
  <div class="module-3">
    <div class="container">
      <div class="row">
        <div class="module-3-inside col-md-12 mt-md-0 mt-3">How it works</div>
      </div>
    </div>
  </div>

  <div class="module-4">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Step 1 - Collect</h5>
        Using existing camera infrastructure or inexpensive, small, and easy to
        install cameras. Data is collected on customers.
      </div>
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Step 2 - Analyze</h5>
        The data is automatically analyzed by an advanced cloud solution using
        AI.
        <i class="fas fa-business-time"></i>
      </div>
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Step 3 - Results</h5>
        <p>
          Results are reported in Power BI and available for you to customize so
          it fits your organization.
        </p>
        <i class="fas fa-business-time"></i>
      </div>
    </div>
    <button>Request Demo</button>
  </div>

  <div class="module-5">
    <div class="module-5-inside">
      <app-our></app-our>
    </div>
  </div>

  <div class="module-6">
    <app-timeline></app-timeline>
  </div>
</div>
