<div class="left-pin">
  <div fxLayout="row wrap" fxLayoutGap="32px grid">
    <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z">
        <div class="row mat-card-inside">
          <div class="col-sm">
            <mat-card-header>
              <mat-card-subtitle> About Us </mat-card-subtitle>
              <mat-card-title> Who we are </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <b>
                Your text goes here, this is just placeholder content. Your text
                goes here, this is just placeholder content. Your text goes
                here, this is just placeholder content.
              </b>
            </mat-card-content>
            <mat-card-content>
              Your text goes here, this is just placeholder content. Your text
              goes here, this is just placeholder content. Your text goes here,
              this is just placeholder content. Your text goes here, this is
              just placeholder content. Your text goes here, this is just
              placeholder content. Your text goes here, this is just placeholder
              content. Your text goes here, this is just placeholder content.
              Your text goes here, this is just placeholder content.
            </mat-card-content>
            <button class="md-button rounded-pill">Meet the team</button>
          </div>
          <div class="col-sm">
            <img
              mat-card-image
              src="../../../../assets/images/about/about_blueprint2.png"
            />
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
