<div class="left-pin">
  <div fxLayout="row wrap" fxLayoutGap="400px grid">
    <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card class="mat-elevation-z">
        <div class="row mat-card-inside">
          <div class="col-sm-6">
            <mat-card-header>
              <mat-card-subtitle> About Us </mat-card-subtitle>
              <mat-card-title> Who we are </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <b>
                By counting and analyzing the demographics of customers entering
                your stores.
              </b>
            </mat-card-content>
            <mat-card-content>
              At Ivensa we believe that technology and data can improve lives.
              Many firms are stuck in old paradigms not utilizing the endless
              possibilities that new technology provides. We are here to change
              that. We focus on physical retail stores where firms are
              struggling to keep up with online shopping, but our journey does
              not stop here. We are enthusiastic about how technology shape
              businesses and we are excited to bring new technologies to firms
              and help them optimize in ways they never thought possible. We are
              just getting started but can’t wait to set our footprint in this
              world.
            </mat-card-content>
            <!-- <a routerLink="/Service/Sign_in"><button class="btn btn-success pull-right" > Add Customer</button></a> -->
            <a routerLink="/team"
              ><button class="md-button rounded-pill">Meet the team</button>
            </a>
          </div>
          <div class="col-sm-6">
            <img
              mat-card-image
              src="../../../../assets/images/about/about_blueprint2.png"
            />
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
