  <section class="timeline">
    <div class="container">
      <div class="timeline-item">
        <div class="timeline-img"></div>
  
        <div class="timeline-content js--fadeInLeft">
          <h2>Founded</h2>
          <div class="date">May 6, 2019</div>
          <p>Ivensa embarked on the journey to develop a camera solution based on intelligent cloud technology.</p>
          <a class="bnt-more" href="javascript:void(0)"><b>More</b></a>
        </div>
      </div> 
  
      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInRight">
            <a href="https://www.google.com">
                <div class="timeline-img-header img-1">
                    <h2> <a class="img-more" href="https://w10ww.google.com"><b> IoT week in Aarhus  </b></a></h2>
                </div>
            </a>
            <div class="date">June 17, 2019</div>
            <p>Invited to IoT week in Aarhus we tested an early version of our technology.</p>
            <a class="bnt-more" href="javascript:void(0)"><b>More</b></a>
        </div>
      </div>   
 
      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInRight">
            <a href="https://www.google.com">
                <div class="timeline-img-header img-2">
                    <h2> <a class="img-more" href="https://w10ww.google.com"><b> Directions EMEA  </b></a></h2>
                </div>
            </a>
            <div class="date">October 9, 2019</div>
            <p>In collaboration with Microsoft, we further tested our technology at the conference Directions EMEA.</p>
            <a class="bnt-more" href="javascript:void(0)"><b>More</b></a>
        </div>
      </div>         

      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInRight">
            <a href="https://www.google.com">
                <div class="timeline-img-header img-3">
                    <h2> <a class="img-more" href="https://w10ww.google.com"><b> Azure Hero Challenge  </b></a></h2>
                </div>
            </a>
            <div class="date">March 23, 2020</div>
            <p>Selected to take part in Azure Hero Challenge a top class program with Microsoft.</p>
            <a class="bnt-more" href="javascript:void(0)"><b>More</b></a>
        </div>
      </div>         

      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card js--fadeInRight">
            <a href="https://www.google.com">
                <div class="timeline-img-header img-4">
                    <h2> <a class="img-more" href="https://w10ww.google.com"><b> Retail Tech Lab </b></a></h2>
                </div>
            </a>
            <div class="date">June 16, 2020</div>
            <p>inVision is part of RetailTech Lab. A store located in Lyngby Storcenter testing new technologies for retailers.</p>
            <a class="bnt-more" href="javascript:void(0)"><b>More</b></a>
        </div>
      </div>  
  
      <!-- <div class="timeline-item">
  
        <div class="timeline-img"></div>
  
        <div class="timeline-content js--fadeInLeft">
          <div class="date">3 JUN 2016</div>
          <h2>Quote</h2>
          <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste fugit totam quasi inventore!</blockquote>
        </div>
      </div>    -->
  
    </div>
  </section>
  