<div class="middle-pin">
    <div fxLayout="row wrap" fxLayoutGap="32px grid">
      <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="100%">
        <mat-card class="mat-elevation-z">
          <div class="row mat-card-inside">
            <div class="col-sm con">
              <mat-card-header>
                <mat-card-title> Latest News </mat-card-title>
                <hr>
              </mat-card-header>
              <img
              mat-card-image
              src="../../../../assets/images/news/433_ILLUM.jpg"
            />
              <mat-card-content>
                Your text goes here, this is just placeholder content. Your text
                goes here, this is just placeholder content. Your text goes here,
              </mat-card-content>
            </div>
            <div class="col-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2">
                            <img class="test"
                            mat-card-image
                            src="../../../../assets/images/news/news_1.jpg"
                          />
                        </div>
                        <div class="col-sm">
                            <div class="container">
                            <div class="date">Aug, 2020</div>
                                <mat-card-content>
                                    Martin Joined Ivensa
                                  </mat-card-content>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="test"
                        mat-card-image
                        src="../../../../assets/images/ui-image-placeholder-wireframes-apps-260nw-1037719204.webp"
                      />
                    </div>
                    <div class="col-sm">
                        <div class="container">
                        <div class="date">month day, year</div>
                            <mat-card-content>
                                2: Your text goes here, this is just placeholder content. Your text
                                goes here, this is just placeholder content. Your text goes here,
                              </mat-card-content>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <img class="test"
                        mat-card-image
                        src="../../../../assets/images/ui-image-placeholder-wireframes-apps-260nw-1037719204.webp"
                      />
                    </div>
                    <div class="col-sm">
                        <div class="container">
                            <div class="date">month day, year</div>
                            <mat-card-content>
                                Your text goes here, this is just placeholder content. Your text
                                goes here, this is just placeholder content. Your text goes here,
                              </mat-card-content>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
