:host {
  background: rgba(0, 0, 0, 0.1);
}

app-sticky-header {
  z-index: 1000;
  box-shadow: 2px 0 0 2px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: #ab47bc;
  font-size: 2rem;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding-top: 75px;
}

.page {
  height: 50vh;
}

.page:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.page:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

// $bgDefault: #000000;
// $bgHighlight: #0d71fc;
// $colDefault: #fc980d;
// $colHighlight: #ffffff;
// $dropDown: true;

// .marcus {
//   background: transparent !important;
// }

// .navbar {
//   background-color: $bgDefault;
//   transition: opacity 3.45s;
//   .navbar-brand {
//     color: $colDefault;
//     &:hover,
//     &:focus {
//       color: $colHighlight;
//     }
//   }
//   .navbar-text {
//     color: $colDefault;
//     a {
//       color: $colHighlight;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//   }
//   .navbar-nav {
//     .nav-link {
//       color: $colDefault;
//       border-radius: 0.25rem;
//       margin: 0 0.25em;
//       &:not(.disabled) {
//         &:hover,
//         &:focus {
//           color: $colHighlight;
//         }
//       }
//     }
//     @if ($dropDown) {
//       .dropdown-menu {
//         background-color: $bgDefault;
//         border-color: $bgHighlight;
//         .dropdown-item {
//           color: $colDefault;
//           &:hover,
//           &:focus,
//           &.active {
//             color: $colHighlight;
//             background-color: $bgHighlight;
//           }
//         }
//         .dropdown-divider {
//           border-top-color: $bgHighlight;
//         }
//       }
//     }
//     .nav-item.active,
//     .nav-item.show {
//       .nav-link,
//       .nav-link:hover,
//       .nav-link:focus {
//         color: $colHighlight;
//         background-color: $bgHighlight;
//       }
//     }
//   }
//   .navbar-toggler {
//     border-color: $bgHighlight;
//     &:hover,
//     &:focus {
//       background-color: $bgHighlight;
//     }
//     .navbar-toggler-icon {
//       color: $colDefault;
//     }
//   }
//   .navbar-collapse,
//   .navbar-form {
//     border-color: $colDefault;
//   }
//   .navbar-link {
//     color: $colDefault;
//     &:hover {
//       color: $colHighlight;
//     }
//   }
// }
// @media (max-width: 575px) {
//   .navbar-expend-sm .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// @media (max-width: 767px) {
//   .navbar-expend-md .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// @media (max-width: 991px) {
//   .navbar-expend-lg .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// @media (max-width: 1199px) {
//   .navbar-expend-xl .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// .navbar-expend .navbar-nav .show .dropdown-menu {
//   .dropdown-item {
//     color: $colDefault;
//     &:hover,
//     &:focus {
//       color: $colHighlight;
//     }
//   }
//   .dropdown-item.active {
//     color: $colHighlight;
//     background-color: $bgHighlight;
//   }
// }


// html,
// body,
// header,
// .view {
//   height: 100%;
// }

// @media (max-width: 740px) {
//   html,
//   body,
//   header,
//   .view {
//     height: 100vh;
//   }
// }

// .top-nav-collapse {
//   background-color: black !important;
// }

// .navbar:not(.top-nav-collapse) {
//   // background: transparent !important;
// }


// @media (max-width: 991px) {
//   .navbar:not(.top-nav-collapse) {
//     background: black  !important;
//   }
// }

// h1 {
//   letter-spacing: 8px;
// }

// h5 {
//   letter-spacing: 3px;
// }

// .hr-light {
//   border-top: 3px solid #fff;
//   width: 80px;
// }
