$primary: #fc980d;

.intro-header {
  height: unset !important;
}
.top-nav-collapse {
  background-color: #78909c !important;
}
.view {
  height: 75vh !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

.img-1 {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url("../../../../assets/images/banners/banner1.jpeg");
}

.img-2 {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url("../../../../assets/images/banners/banner2.jpeg");
}

.img-2 {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-image: url("../../../../assets/images/banners/banner3.png");
}


.carousel-item h1 {
  font: bold 42px sans-serif;
  display: flex;
  position: sticky;
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10%;
  text-shadow: 1px 1px 2px black;
}

.carousel-item h3 {
  font: bold 20px sans-serif;
  display: inline-block;
  position: sticky;
  margin: 0;
  padding: 2%;
  text-align: left;
  margin-bottom: 10%;
  background: rgba(252, 152, 13, 0.25);
  color: white;
  border-width: 2px;
  border-color: grey;
  border-style: solid;
  text-shadow: 1px 1px 2px black;
}
.carousel-item h3:hover {
  background: rgba(252, 152, 13, 0.75);
}

.carousel-item h2 {
  font: bold 14px sans-serif;
  // display: inline-block;

  color: white;
  text-transform: uppercase;
  padding: 2.5%;
  border-radius: 10px 10px 10px 10px;
  background-color:$primary;

  text-shadow: 1px 1px 2px black;

  margin-bottom: 10%;

  text-align:left;

  -moz-box-shadow: 3px 3px 4px 5px black;
  -webkit-box-shadow: 3px 3px 4px 5px black;
  box-shadow: 3px 3px 4px 5px black;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;

  // left: 0;
  height: 300px;
  // bottom: auto;
}

// $bgDefault: blue;
// $bgHighlight: #7537d5;
// $colDefault: #000000;
// $colHighlight: #ffffff;
// $dropDown: true;
// .navbar {
//   -webkit-transition: $bgDefault 0.5s ease-in-out;
//   -moz-transition:  $bgDefault 0.5s ease-in-out;
//   -ms-transition:  $bgDefault 0.5s ease-in-out;
//   -o-transition:  $bgDefault 0.5s ease-in-out;
//   transition:  $bgDefault 0.5s ease-in-out;
// }
// .navbar {
//   background-color: $bgDefault;
//   .navbar-brand {
//     color: $colDefault;
//     text-align: center;
//     &:hover,
//     &:focus {
//       color: $colHighlight;
//       background-image: linear-gradient($bgHighlight, black);
//       border-radius: 0px 0px 20px 20px;
//     }
//   }
//   .navbar-text {
//     color: $colDefault;
//     a {
//       color: $colHighlight;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//   }
//   .navbar-nav {
//     .nav-link {
//       color: $colDefault;
//       border-radius: 0.25rem;
//       margin: 0 0.25em;
//       &:not(.disabled) {
//         &:hover,
//         &:focus {
//           color: $colHighlight;
//         }
//       }
//     }
//     @if ($dropDown) {
//       .dropdown-menu {
//         background-color: $bgDefault;
//         border-color: $bgHighlight;
//         .dropdown-item {
//           color: $colDefault;
//           &:hover,
//           &:focus,
//           &.active {
//             color: $colHighlight;
//             background-color: $bgHighlight;
//           }
//         }
//         .dropdown-divider {
//           border-top-color: $bgHighlight;
//         }
//       }
//     }
//     .nav-item.active,
//     .nav-item.show {
//       .nav-link,
//       .nav-link:hover,
//       .nav-link:focus {
//         color: $colHighlight;
//         background-color: $bgHighlight;
//       }
//     }
//   }
//   .navbar-toggler {
//     border-color: $bgHighlight;
//     &:hover,
//     &:focus {
//       background-color: $bgHighlight;
//     }
//     .navbar-toggler-icon {
//       color: $colDefault;
//     }
//   }
//   .navbar-collapse,
//   .navbar-form {
//     border-color: $colDefault;
//   }
//   .navbar-link {
//     color: $colDefault;
//     &:hover {
//       color: $colHighlight;
//     }
//   }
// }
// @media (max-width: 575px) {
//   .navbar-expend-sm .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// @media (max-width: 767px) {
//   .navbar-expend-md .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// @media (max-width: 991px) {
//   .navbar-expend-lg .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// @media (max-width: 1199px) {
//   .navbar-expend-xl .navbar-nav .show .dropdown-menu {
//     .dropdown-item {
//       color: $colDefault;
//       &:hover,
//       &:focus {
//         color: $colHighlight;
//       }
//     }
//     .dropdown-item.active {
//       color: $colHighlight;
//       background-color: $bgHighlight;
//     }
//   }
// }
// .navbar-expend .navbar-nav .show .dropdown-menu {
//   .dropdown-item {
//     color: $colDefault;
//     &:hover,
//     &:focus {
//       color: $colHighlight;
//     }
//   }
//   .dropdown-item.active {
//     color: $colHighlight;
//     background-color: $bgHighlight;
//   }
// }
