<app-banner></app-banner>
<!-- <div>
  <h2>{{ "HOME.TITLE" | translate }}</h2>
</div> -->

<div class="body">
  <div class="module-1">
    <div class="container">
      <div class="row">
        <div class="module-1-inside col-md-12 mt-md-0 mt-3">
          by counting and analyzing the demographics of customers entering your
          stores
        </div>
      </div>
    </div>
  </div>
  <div class="module-2">
    <div class="row">
      <div class="module-2-inside col-md-12 mt-md-0 mt-3">
        Come and see our technology at RETAILTECH LAB in Lyngby Storcenter!
        <button>Read More</button>
      </div>
    </div>
  </div>
  <div class="module-3">
    <div class="container">
      <div class="row">
        <div class="module-3-inside col-md-12 mt-md-0 mt-3">How it works</div>
      </div>
    </div>
  </div>

  <div class="module-4">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Step 1 - Collect</h5>
        Using existing camera infrastructure or inexpensive, small, and easy to
        install cameras. Data is collected on customers.
      </div>
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Step 2 - Analyze</h5>
        The data is automatically analyzed by an advanced cloud solution using
        AI.
        <i class="fas fa-business-time"></i>
      </div>
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 class="text-uppercase">Step 3 - Results</h5>
        <p>
          Results are reported in Power BI and available for you to customize so
          it fits your organization.
        </p>
        <i class="fas fa-business-time"></i>
      </div>
    </div>
    <button>Request Demo</button>
  </div>

  <div class="module-5">
    <div class="module-5-inside">
      <div class="row">
        <div class="col-md-4 mt-md-0 mt-3">
          <h5 class="text-uppercase">Our mission</h5>
          <p>Utilizing intelligent cloud technologies to optimize businesses</p>
          <i class="fas fa-business-time"></i>
        </div>
        <div class="col-md-4 mt-md-0 mt-3">
          <h5 class="text-uppercase">Our story</h5>
          <p>
            At Ivensa we believe that technology and data can improve lives.
            Many firms are stuck in old paradigms not utilizing the endless
            possibilities that new technology provides. We are here to change
            that. We focus on physical retail stores where firms are struggling
            to keep up with online shopping, but our journey does not stop here.
            We are enthusiastic about how technology shape businesses and we are
            excited to bring new technologies to firms and help them optimize in
            ways they never thought possible. We are just getting started but
            can’t wait to set our footprint in this world.
          </p>
        </div>
        <div class="col-md-4 mt-md-0 mt-3">
          <h5 class="text-uppercase">Our promise</h5>
          <p>We deliver technology that optimize your business</p>
          <i class="fas fa-hands-helping"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="module-6">
    Timeline May 6, 2019 Founded Ivensa embarked on the journey to develop a
    camera solution based on intelligent cloud technology June 17, 2019 IoT week
    in Aarhus Invited to IoT week in Aarhus we tested an early version of our
    technology October 9, 2019 Directions EMEA In collaboration with Microsoft,
    we further tested our technology at the conference Directions EMEA. March
    23, 2020 Azure Hero Challenge Selected to take part in Azure Hero Challenge
    a top class program with Microsoft June 16, 2020 Retail Tech Lab inVision is
    part of RetailTech Lab. A store located in Lyngby Storcenter testing new
    technologies for retailers.
  </div>
</div>
