hr {
    display: block;
    border: 1px inset;
    overflow: hidden;
  }
  
  $primary: #fc980d;
  $secondary: #0f2147;
  
  mat-toolbar {
    justify-content: space-between;
  }
  
  .content {
    padding: 16px;
  }
  
  .content > mat-card {
    margin-bottom: 16px;
  }
  
  .mat-card {
    background-color: $primary;
  }
  
  .mat-card-content {
    font-size: 100%;
    // letter-spacing: 3px;
    font-weight: 400;
    color: $secondary; 
  }
  
  hr {
    display: block;
    border: 1px inset;
    overflow: hidden;
  }
  
  .mat-card-title {
    color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  