<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="32px grid">
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z">
            <mat-card-header>
            <mat-card-title>by counting and analyzing the demographics of customers entering your
                stores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
        </mat-card>
        </div>
    </div>
    </div>