$primary: #fc980d;
$secondary: #0D71FC;
$tertiary: #D37C03;

.view {
  height: 120vh !important;
  background-color: black;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

.img-1 {
  height: 75vh;
  background:
  radial-gradient(circle, transparent 20%, var(--color-v) 90%),
  linear-gradient(to top, black, rgba(0,0,0,0)),
  var(--image);
  background-position: center center;
  background-size: cover;
  background-blend-mode:
  var(--blend-top, normal),
  var(--blend-bottom, saturation),
  normal;

--image: url("../../../../assets/images/banners/banner1.jpeg");

--color-v: black;
--color: hsla(343,100%,50%,0);

flex: 1;
width: 100vw;
}

.img-2 {
  height: 75vh;
  background:
  radial-gradient(circle, transparent 20%, var(--color-v) 90%),
  linear-gradient(to top, black, rgba(0,0,0,0)),
  var(--image);
  background-position: center center;
  background-size: cover;
  background-blend-mode:
  var(--blend-top, normal),
  var(--blend-bottom, saturation),
  normal;

--image: url("../../../../assets/images/banners/banner2.jpeg");

--color-v: black;
--color: hsla(343,100%,50%,0);

flex: 1;
width: 100vw;
}

.img-3 {
  height: 75vh;
  background:
  radial-gradient(circle, transparent 50%, var(--color-v) 90%),
  linear-gradient(to bottom, black,  rgba(0,0,0,0)),
  var(--image);
  background-position: center center;
  background-size: cover;
  background-blend-mode:
  var(--blend-top, normal),
  var(--blend-bottom, saturation),
  normal;

--image: url("../../../../assets/images/banners/banner4.webp");
--color-v: black;
--color: hsla(343,100%,50%,0);

flex: 1;
width: 100vw;
}

.row-2 {
  max-height: inherit;
  max-width: inherit;
  margin-left: 10vw;
  margin-right: 40vw;
  margin-top: 25vh;
  padding: 1%;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 200px 2000px 2000px 200px;
}

.carousel-item h1 {
  font: bold 32px sans-serif;
  margin: 0;
  color: white;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 10%;
  text-shadow: 1px 1px 2px black,
               -1px -1px 2px black;

}

.carousel-item h2 {
  font: bold 14px sans-serif;
  display: inline-block;

  align-items: flex-end;
  align-content: flex-start;
  text-align: left;

  color: white;
  text-transform: uppercase;
  padding: 2.5%;
  border-radius: 10px 10px 10px 10px;
  background-color:$primary;

  text-shadow: 1px 1px 2px black,
               -1px -1px 2px black;

  margin-bottom: 10%;

  text-align:left;

  -moz-box-shadow: 3px 3px 4px 5px black;
  -webkit-box-shadow: 3px 3px 4px 5px black;
  box-shadow: 3px 3px 4px 5px black;
}


.carousel-item h3 {
  font: bold 20px sans-serif;
  display: inline-block;

  position: sticky;
  margin: 0;
  padding: 2%;
  text-align: left;
  margin-bottom: 10%;
  background: rgba(211, 124, 3, 0.50);
  color: white;
  border-width: 3px;
  border-color: $primary;
  border-style: solid;
  text-shadow: 1px 1px 2px black,
               -1px -1px 2px black;
}
.carousel-item h3:hover {
  background: rgba(252, 152, 13, 0.75);
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;

  height: 300px;
}

.carousel-indicators {
  right: 0;
  top: 0;
  height:75vh;
  width: 5vw;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  bottom: auto;
  left: auto;
  z-index: 99;
  // justify-content: center;
  // align-items: center;
  align-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.30);
}

.carousel-indicators li {
  width : 2.5px!important;
  background-color: white;
  height: 10vh !important;
  border-radius: 50% !important;
  // list-style: inherit;
  margin-left: 1vh;
  max-height: 75vh;
  // margin: auto;
  padding: auto;
  // margin-top: 5vh;
  // line-height: 100%;
}

.carousel-indicators .active {
  width : 5px!important;
  background-color: $primary;
  height: 10vh !important;
  border-radius: 50% !important
}
.carousel-control-next {
  display: inline-block;
  right: 5vw;
  bottom: 0;
  height: 37.5vh;
  width: 20vw;
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: auto;
  left: auto;
  z-index: 99;
}
.carousel-control-prev {
  display: inline-block;
  right: 5vw;
  bottom: auto;
  height: 37.5vh;
  width: 20vw;
  overflow-y: auto;
  overflow-x: hidden;

  -webkit-overflow-scrolling: touch;
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  left: auto;
  z-index: 99;
}

.carousel-control-prev-icon {
  transform: rotate(90deg);
  // justify-content: center;

  // margin-top: auto;
  margin-top: 50%;
}

.carousel-control-next-icon {
  transform: rotate(90deg);
  margin-top: 0%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: $primary;
  text-shadow: 1px 1px 2px black,
               -1px -1px 2px black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: $primary;
  text-shadow: 1px 1px 2px black,
  -1px -1px 2px black;
}

.content {
  position: relative;
  justify-content: space-between;
  margin-left: 20vh; margin-right: 20vh;
}


.banner-tabs {
  bottom: 5vw;
}

.mat-card-image {
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  // width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  // height: 35vh;
  display: grid;
  place-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  min-height: 25vh;
  // width: 100%;
  // height: auto;
  // opacity: 50%;
  // filter: invert(52%) sepia(100%) saturate(429%) hue-rotate(354deg) brightness(103%) contrast(98%);
}

.mat-card-content {
  min-height: 16vh;
}

.banner-info {
  background-color: black;
  border-radius: 20px 20px 20px 20px;
}
.banner-info h1 {
  font: bold 32px sans-serif;
  margin: 0;
  margin-bottom: 2vh;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px white,
  -1px -1px 1px white;
}

.banner-info p {
  font: bold 14px sans-serif;
  margin: 0;
  margin-bottom: 2vh;
  color: white;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 500%;
}

.banner-info h3 {
  font: bold 20px sans-serif;
  // display: inline-block;
  position: sticky;
  margin: 0;
  padding: 2%;
  text-align: center;
  margin-bottom: 10%;
  background: rgba(211, 124, 3, 0.50);
  color: white;
  border-width: 3px;
  border-color: $primary;
  border-style: solid;
  text-shadow: 1px 1px 2px black,
               -1px -1px 2px black;
}
.banner-info h3:hover {
  background: rgba(252, 152, 13, 0.75);
}