<div
  id="carouselExampleIndicators"
  class="carousel slide view"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner text-left">
    <div class="carousel-item active image-filter--img-1">
      <div class="d-flex h-75 align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-10">
            <h2>Technology – The great growling engine of change.</h2>
            <h1>
              At Ivensa we invent tomorrows technology instead of yesterdays.
            </h1>
            <a href="#"><h3>Read More</h3></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item image-filter--img-2">
      <div class="d-flex h-75 align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-10">
            <h2>Future – You can't improve what you don't measure</h2>
            <h1>What new technology does is create new opportunities.</h1>
            <a href="#"><h3>Read More</h3></a>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
    <div class="carousel-item image-filter--img-3">
      <div class="d-flex h-75 align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-10">
            <h2>
              Innovation – A sufficiently advanced technology is
              indistinguishable from magic.
            </h2>
            <h1>
              It’s not that we use technology, we make technology come to life.
            </h1>
            <a href="#"><h3>Read More</h3></a>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="banner-tabs">
    <div fxLayout="row wrap" fxLayoutGap="32px grid">
      <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="75%">
        <mat-card class="mat-elevation-z info banner-info">
          <img mat-card-image src="../../../../assets/icons/Ivensa.png" />
          <mat-card-content>
            <h1>Our mission</h1>
            <p>
              Utilizing intelligent cloud technologies to optimize businesses
            </p>
            <h1>Our promise</h1>
            <p>We deliver technology that optimize your business</p>
            <a href="#"> <h3>Request Demo</h3></a>
          </mat-card-content>
        </mat-card>
      </div>

      <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="75%">
        <mat-card class="mat-elevation-z">
          <img
            mat-card-image
            src="../../../../assets/images/banners/tab1.webp"
          />
          <mat-card-header>
            <mat-card-title>Step 1 - Collect </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Using existing camera infrastructure or inexpensive, small, and
              easy to install cameras. Data is collected on customers.
            </p>
            <i class="fas fa-business-time icon"></i>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="75%">
        <mat-card class="mat-elevation-z">
          <img
            mat-card-image
            src="../../../../assets/images/banners/tab2.webp"
          />
          <mat-card-header>
            <mat-card-title> Step 2 - Analyze </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              The data is automatically analyzed by an advanced cloud solution
              using AI.
            </p>
            <i class="fas fa-diagnoses icon"></i>
          </mat-card-content>
        </mat-card>
      </div>
      <div [fxFlex]="100 / gridColumns + '%'" fxFlex.xs="100%" fxFlex.sm="75%">
        <mat-card class="mat-elevation-z">
          <img
            mat-card-image
            src="../../../../assets/images/banners/tab3.webp"
          />
          <mat-card-header>
            <mat-card-title>Step 3 - Results</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Results are reported in Power BI and available for you to
              customize so it fits your organization.
            </p>
            <i class="fas fa-hands-helping icon"></i>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
