<footer class="module page-footer font-small blue pt-4">
  <div
    class="module-inside container-fluid text-center text-md-left"
    style="border-bottom: solid 2px grey"
  >
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Footer Content</h5>
        <p>
          Here you can use rows and columns here to organize your footer
          content.
        </p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr />
  <div class="module-inside container">
    <div class="row">
      <div class="footer-copyright text-md-left col-md-6 mb-md-0 mb-3">
        © 2020 Copyright: Ivensa ApS
      </div>
      <div class="text-md-right col-md-6 mb-md-0 mb-3">Powered by Ivensa</div>
    </div>
  </div>
</footer>
