$primary: #fc980d;
$secondary: #0f2147;
$tertiary: #D37C03;
$text: #ffffff;
$text2:	#000000;

hr {
  display: block;
  border: 1px inset;
  overflow: hidden;
}

mat-toolbar {
  justify-content: space-between;
}

.content > mat-card {
  margin-bottom: 16px;
}

.mat-card {
  // height: 10vw;
  padding: 2.5%;
  border-radius: 200px 200px 200px 200px;
  display: grid;
  place-items: left;
  -moz-box-shadow:    0px 0px 20px 8px #ccc;
  -webkit-box-shadow: 0px 0px 20px 8px #ccc;
  box-shadow:         0px 0px 20px 8px #ccc;
}

.mat-card::before {
  content: "";
  display: grid;
  height: 100%;
  width: 100vw;
  max-width: 100%;

  position: absolute;
  /* Center and scale the image nicely */
  background-position: center;
  background-size: inherit;
  display: grid;
  place-items: left;

  background-image: url("../../../../assets/images/about/about_blueprint.png");
  border-radius: 200px 200px 200px 200px;
  filter: invert(52%) sepia(100%) saturate(429%) hue-rotate(354deg)
    brightness(103%) contrast(98%);
}

.mat-card-inside {
  text-align: left;
  padding-left: 5vw;
  position: relative;
  font: bold 14px sans-serif;
}

.mat-card-content {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 16px sans-serif;
}

.mat-card-title {
  color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  font: bold 42px sans-serif;
}

.mat-card-subtitle {
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
  font: bold 28px sans-serif;
}

.mat-card-image {
  display: grid;
  place-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 50%;
  transform: rotate(190deg);
  filter: invert(100%);
}

.md-button {
  background: linear-gradient(to bottom right, white, $secondary);
  color: $text;
  background-color: $primary;
  padding: 2.5%;
  min-width: 88px;
  border: none;
  font: bold 14px sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  -moz-box-shadow: 3px 3px 4px 5px black;
  -webkit-box-shadow: 3px 3px 4px 5px black;
  box-shadow: 3px 3px 4px 5px black;

  text-shadow: 1px 1px 2px black,
               -1px -1px 2px black;

  &:hover,
  &:active,
  &:focus {
    text-shadow: 1px 1px 2px white,
    -1px -1px 2px white;

    background: linear-gradient(to bottom right, white, $primary);
    color: $text2;
    text-decoration: none;
  }
}

.middle-pin {
  width: auto;
  max-width: 75vw;
  min-width: 25vw;
  position: relative;

  &::before {
    content: "";
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.icon {
  display: flex;
  justify-content: center;
  font-size: 1000%;
}
